<!-- your html code here -->
<div class="container" id="contact">

    <div class="row">
                <div class="col">
                    <h2>Contact</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolor autem iusto cupiditate atque
                        praesentium facilis voluptatibus incidunt magnam ipsa, doloremque amet reprehenderit eius officia
                        minima temporibus optio impedit molestias.</p>
                </div> 
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 40rem;" id="formulario">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4"><label for="exampleInputEmail1">Your E-mail</label></div>
                            <div class="col">  
                                    <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"><label for="exampleFormControlTextarea1">Your message</label></div>
                            <div class="col">
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
              </div>
        </div>
    </div>



</div>