<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="git1_files/bootstrap.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/img/2.jpg">
</head>

<body>
    <div class="box">
<div class="img2">
    <img src="../assets/img/2.jpg" class="rounded-circle float-left" alt="...">
</div>


    <div class="text2">
        <h1>The Second Heading <div id="a"> Is Pretty Cool Too.</id></h1>
            <p class="text-left">On the other hand, forms are responsible for the Web 2.0, they enable interactive websites and all the fun! In this project you will learn to style forms like a Pro! Using bootstrap components, HTML5 elements and your first small validations!</p>

    </div>
</div>







    <script src="git1_files/jquery-3.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>